/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');


/* WEB FONT */
@font-face {
  font-family:"HelveticaNeue";
  src: url("fonts/helvetica-neue/Helvetica\ Neue.ttf");
}


/*VARIABLES*/

/* FONT */
:root {
	--font-gabarito: 'Gabarito', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
	--font-dm-mono: 'DM Mono', monospace;
	--font-helvetica-neue: 'HelveticaNeue', sans-serif;
}

/* MARGINS */
:root {
--margin-top: 50px;
--margin-bottom: 50px;
--margin-left: 30px;
--margin-right: 30px;
--button-margin-top: 450px;
}


/* HEADER ELEMENTS */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 23px;
  border-bottom:1px solid;
}

header p{
  font-family: var(--font-dm-sans);
  font-weight:700;
  font-size: 27px;
  letter-spacing: -4px;
  margin-bottom: -5px;
}

.header-container{
  position: sticky;
  top: 0;
  background-color: tomato;
  z-index: 10000;
}

.menu-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17px;
}

.menu-line{
  width:18px;
  height:2px;
  background:black;
}

/* HOMEPAGE */
h1{
  font-family: var(--font-gabarito);
  font-weight:600;
  font-size: 70px;
  line-height: 60px;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.author{
  margin-top: 30px;
  font-family: var(--font-dm-mono);
  font-weight: 400;
  font-size:13px;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

/*CLICK ME BUTTON*/

.circle-container {
  position: absolute;
  top: var(--button-margin-top);
  right: var(--margin-right); 
  max-width: calc(100% - 285px)
}

.circle {
  font-family: var(--font-gabarito);
  font-size: 18px;
  font-weight: 400;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

/* NAVIGATION */
nav{
  font-family: var(--font-gabarito);
  font-weight:600;
  font-size: 23px;
  margin-bottom: var(--margin-bottom);
}

.table-of-contents{
  list-style-type: none;
  padding: 0;
}

.table-of-contents li {
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: var(--margin-left);
  padding-right: 15px;
}

.table-of-contents li:first-child {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

/* ARTICLE HEADINGS */

h2 {
  font-family: var(--font-dm-mono);
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  display: inline-block; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid;
  border-right: 1px solid;
  margin-left: var(--margin-left)
}

.section-heading{
  border:1px solid;
  border-left: none;
  border-right:none;
  box-sizing: border-box;
}

/* ARTICLE PARAGRAPHS */

article p{
  font-family: var(--font-helvetica-neue);
  font-size: 18px;
  margin-bottom: 30px;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  min-width: 330px;
  max-width: 450px;
}
article p:last-child {
  margin-bottom: 50px;
}

article p:first-child {
  margin-top: 50px;
}

.pull-quote p{
  font-family: var(--font-gabarito);
  font-weight: 600;
  font-size: 33px;
  line-height: 1px;
  text-align: center;
}

/* FOOTER */
.circle-footer{
  position: absolute;
  right: var(--margin-right); 
  max-width: calc(100% - 285px)
}

.scrolling-text {
  font-family: var(--font-dm-mono);
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
  white-space: nowrap;
  background-color: white;
}

.arrow-line {
  height: 4px;
  background: black;
  position: absolute;
  left: 50%;
  transform-origin: center;
}

.middle-line {
  width: 45px;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.left-line {
  width: 22.5px;
  transform: translateX(-18px) translateY(-14.5px) rotate(-45deg);
}

.right-line {
  width: 22.5px;
  transform: translateX(-4.5px) translateY(-14.5px) rotate(45deg);
}

/* MEDIA QUERIES */

@media screen and (min-width: 1085px) {

/* VARIABLES */
:root {
   --margin-left: 80px;
   --margin-right: 80px;
   --button-margin-top: 580px;
}

/* HOMEPAGE */
h1{
    font-size: 150px;
    line-height: 120px;
    display: block;
}

.author{
  font-size:20px;
}

.break br{
  display: none; /* Hide the <br> element on smaller screens */
}

/* CLICK ME BUTTON */

.circle-container {
  top: var(--button-margin-top);
  right: var(--margin-right); 
}

.circle {
  font-size: 20px;
  width: 110px;
  height: 110px;
}

/* NAVIGATION */
nav{
  font-size: 30px;
}

.table-of-contents li {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  padding-left: calc(var(--margin-left) + 30px);
}

.table-of-contents li:first-child {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

/* ARTICLE HEADINGS */
h2{
  font-size: 22px;
}

/* ARTICLE PARAGRAPHS */
article p{
  font-size: 22px;
  max-width: 550px;
}

.pull-quote p{
  font-size: 55px;
  line-height: 15px;
}
.section2paragraph{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

/* FOOTER */
.scrolling-text {
  font-size: 22px;
}

.middle-line {
  width: 50px;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.left-line {
  width: 25px;
  transform: translateX(-20px) translateY(-16px) rotate(-45deg);
}

.right-line {
  width: 25px;
  transform: translateX(-5px) translateY(-16px) rotate(45deg);
}

}