@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Gabarito:wght@400;500;600;700;800&family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* WEB FONT */
@font-face {
  font-family:"HelveticaNeue";
  src: url("fonts/helvetica-neue/Helvetica\ Neue.ttf");
}

/* FONT */
:root {
  --font-gabarito: 'Gabarito', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-dm-mono: 'DM Mono', monospace;
  --font-helvetica-neue: 'HelveticaNeue', sans-serif;
  --font-caledea: 'Caladea', serif;
  --font-sansita: 'Sansita', sans-serif;
  --font-pixelify: 'Pixelify Sans', sans-serif;
  --font-audiowide: 'Audiowide', sans-serif;
  --font-vastshadow: 'Vast Shadow', serif;
  --font-prosto: 'Prosto One', sans-serif;
  --font-pinyonscript: 'Pinyon Script', cursive;
  --font-poorstory: 'Poor Story';
  --font-playfairdisplay: 'Playfair Display', serif;
}

:root {
  --black: #000;
  --font-size: 17px;
  --blue-color: #2502d0;
  --orange-color: #ff733e;
  --typo-h2: calc(1.5 * var(--font-size));
  --typo-h4: calc(2.25 * var(--font-size));
  --art-size: calc(9.375 * var(--font-size));
}

:root {
  --margin-top: 50px;
  --margin-bottom: 50px;
  --margin-left: 22px;
  --margin-right: 22px;
  --margin-top-head-title: calc(3.75 * var(--font-size));
  }


a:hover {
  text-decoration: underline;
}


/* HEADER ELEMENTS */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 23px;
  border-bottom:1px solid;
}

header p{
  font-family: var(--font-dm-sans);
  font-weight:700;
  font-size: calc(1.6875 * var(--font-size));
  letter-spacing: -4px;
  margin-bottom: -5px;
}

.header-container{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000;
}

.menu-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17px;
}

.menu-line{
  width:18px;
  height:2px;
  background:black;
}

/* HOMEPAGE ELEMENTS */

body{
	background-color: #FFFEFB;
}

.banner {
  height: 464px;
  background: #caff03;
  position: relative;
}

.banner .item {
  position: absolute;
}

.banner .item1 p {
  line-height: calc(7.5 * var(--font-size));
  font-size: calc(7.5 * var(--font-size));
  font-family: var(--font-audiowide);
  margin-top: -35px;
  -webkit-text-stroke: 3px black;
  color: transparent
}

.banner .item2 {
  top: 108px;
  right: 0;
}

.banner .item2 p {
  font-size: calc(4.75 * var(--font-size));
  line-height: calc(3.75 * var(--font-size));
  font-family: var(--font-vastshadow);
}

.banner .item3 {
  left: 5%;
  top: 270px;
}

.banner .item3 .first-part {
  font-size: calc(5.875 * var(--font-size));
  line-height: calc(5.875 * var(--font-size));
  font-family: var(--font-pixelify);
  font-weight: 400;
}

.banner .item3 .second-part {
  font-family: var(--font-prosto);
  font-size: calc(5.875 * var(--font-size));
}

.banner .item4 {
  left: 8%;
  top: 360px;
}

.banner .item4 .letter {
  font-size: calc(5 * var(--font-size));
  line-height: calc(5 * var(--font-size));
  font-family: var(--font-pixelify);
  letter-spacing: -2px;
}

.banner .item4 .letter:nth-child(1) {
  font-family: var(--font-playfairdisplay);
}

.banner .item4 .letter:nth-child(4) {
  font-family: var(--font-poorstory);
}

.banner .item4 .letter:nth-child(6) {
  font-family: var(--font-pinyonscript);
}

.clickbutton {
  position: absolute;
  bottom: -36px;
  right: 5%;
  width: 76px;
  height: 76px;
  border: 1px solid;
  border-radius: 50%;
  padding-left: 0;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  display: flex;
  padding: 0;
}

.clickbutton p {
  text-align: center;
  font-family: var(--font-gabarito);
  font-weight: 400;
}

.clickbutton a {
  line-height: var(--font-size);
  font-size: var(--font-size);
}

/* SECONDARY HOMEPAGE */
.headline {
  height: 171px;
  margin: calc(6.25 * var(--font-size)) auto;
}

.headline p {
  font-size: calc(2.625 * var(--font-size));
  line-height: calc(2.625 * var(--font-size));
  text-align: center;
}

.menu-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-bottom);
}

.menu-title p {
  font-family: var(--font-dm-mono);
  font-weight: 400;
  font-size: calc(0.8 * var(--font-size));

}

/* NAVIGATION */
nav{
	font-family: var(--font-sansita);
  font-weight: 400;
  font-size: 32.5px;
  margin-bottom: var(--margin-bottom);
  color: #2502D0;
}

ul,
li {
  list-style: none;
}

.table-of-contents{
  list-style-type: none;
  padding: 0;
}

.table-of-contents li {
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 15px;
  padding-left: var(--margin-left);
  padding-right: 15px;
}

.table-of-contents li:first-child {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.small-text {
  font-family: var(--font-gabarito);
  font-size: 10px; 
  color: #2502D0;
  position: relative;
  top: -14px;
  margin-right: 5px;
}

/* ARTICLE HEADINGS */
.part {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top-head-title);
  padding-left: calc(1.25 * var(--font-size));
  padding-right: calc(1.25 * var(--font-size));
}

.part h2 {
  font-family: var(--font-dm-mono);
  font-weight: 400;
  height: calc(2.375 * var(--font-size));
  line-height: calc(2.375 * var(--font-size));
  color: var(--blue-color);
  font-size: var(--font-size);
  margin-right: 15px;
  text-align: center;
  border: 2px solid var(--black);
  margin-bottom: 5px;
  border-color: var(--blue-color);
  box-shadow: var(--black) 5px 5px;
  border-color: var(--black);
  background-color: white;
}

.art {
  display: none;
}

.part .art p {
  font-size: var(--art-size);
  line-height: 100px;
  font-family: var(--font-pixelify);
  font-weight: 400;
  text-align: right;
  color: var(--orange-color);
}

.part .topic {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(1.875 * var(--font-size));
}

.part .mainBody p {
  font-size: var(--font-size);
  font-family: var(--font-helvetica-neue);
  margin-bottom: 30px;
}

.part .mainBody p a {
  text-decoration: underline;
}

.part1 h2 {
  width: 136px;
}

.part2 h2 {
  width: 242px;
}

.part3 h2 {
  width: 126px;
}

.part4 h2 {
  width: 194px;
}

.part5 h2 {
  width: 165px;
}


.colors {
  margin-top: calc(6.25 * var(--font-size));
}

.colors .head {
  font-family: var(--font-dm-mono);
  font-weight: 400;
  display: flex;
  margin-bottom: calc(1.875 * var(--font-size));
  flex-direction: column;
  align-items: center;
}
.colors .head .first {
  order: 1;
  margin-bottom: calc(1.875 * var(--font-size));
}
.colors .head .borders {
  width: calc(8.875 * var(--font-size));
  height: calc(2 * var(--font-size));
  line-height: calc(2 * var(--font-size));
  text-align: center;
  border: 2px solid;
  box-shadow: var(--black) 2px 2px;
  order: 2;
  margin-bottom: calc(1.25 * var(--font-size));
}

.color-container p {
  font-size: calc(5 * var(--font-size));
}
.color-container .web {
  display: none;
}

.color-container {
  height: 434px;
  background: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-name: changeBg;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.foot {
  margin: var(--margin-top-head-title) 0;
  height: calc(2.375 * var(--font-size));
  line-height: calc(2.375 * var(--font-size));
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  position: relative;
}
.foot h2 {
  font-family: var(--font-dm-mono);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  font-size: var(--font-size);
}
.foot .topp {
  position: absolute;
  right: 5%;
  top: -46px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.top-btn {
  position: relative;
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.top-btn::before {
  content: "";
  width: 15px;
  height: 15px;
  border: solid var(--black);
  border-width: 3px 3px 0 0;
  transform: translate(-50%, -60%) rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 45%;
}

.top-btn::after {
  content: "";
  width: 3px;
  height: 26px;
  background: var(--black);
  position: absolute;
  top: 33%;
  left: 48%;
}

@keyframes changeBg {
  0% {
    background-color: #2502d0;
    font-family: var(--font-playfairdisplay);
  }

  15% {
    background-color: #caff03;
    font-family: var(--font-dm-mono);
    font-weight: 600;
  }

  30% {
    background-color: #ff733e;
    font-family: var(--font-gabarito);
    font-weight: 600;
  }

  45% {
    background-color: #00ac8c;
    font-family: var(--font-helvetica-neue);
  }

  60% {
    background-color: #ffbe2a;
    font-family: Audiowide;
  }

  80% {
    background-color: #ff4a6b;
    font-family: var(--font-pixelify);
    font-weight: 400;
  }

  100% {
    background-color: #2502d0;
    font-family: PlayfairDisplay;
  }
}

/* MEDIA QUERIES*/


/* 550PX */
@media screen and (min-width: 550px) {
  :root {
    --homepage-font-size: 19px;
    --nav-font-size: 45px;
    --nav-small-text: 12px;
    --background-height: 95px;
  }

/* NAVIGATION */
  nav{
  font-size: var(--nav-font-size);
}
  .small-text {
    font-size: var(--nav-small-text);
    top: -21px;
  }

  .banner {
    height: calc(5 * var(--background-height));
  }

  .banner .item1 p {
    line-height: calc(7.5 * var(--homepage-font-size));
    font-size: calc(7.5 * var(--homepage-font-size));
    margin-top: -35px;
    -webkit-text-stroke: 3px black;
  }

  .banner .item2 p {
    font-size: calc(4.75 * var(--homepage-font-size));
    line-height: calc(3.75 * var(--homepage-font-size));
  }

  .banner .item3 .first-part {
    font-size: calc(5.875 * var(--homepage-font-size));
  }
  
  .banner .item3 .second-part {
    font-size: calc(5.875 * var(--homepage-font-size));
  }
  
  .banner .item4 .letter {
    font-size: calc(5 * var(--homepage-font-size));
    letter-spacing: -2px;
  }

}


/* 768PX */

@media screen and (min-width: 768px) {
  :root {
    --font-size: 19px;
    --homepage-font-size: 22px;
    --nav-font-size: 55px;
    --nav-small-text: 12px;
    --subheading-font-size: 19px;
    --background-height: 100px;
  }

  .small-text {
    top: -28px;
  }

  .banner {
    height: calc(5 * var(--background-height));
  }
  .banner .item2 {
    top: 108px;
    right: 0;
  }
  .banner .item3 {
    left: 5%;
    top: 250px;
  }
  .banner .item4 {
    left: 8%;
    top: 370px;
  }

  .clickbutton {
    width: 86px;
    height: 86px;
    bottom: -36px;
  }

  .top-btn {
    width: 66px;
    height: 66px;
  }
  .part {
    flex-direction: row;
    justify-content: end;
  }
  .part .art p {
    font-size: calc(4 * var(--subheading-font-size));
    line-height: calc(3 * var(--subheading-font-size));
  }
  .art {
    display: block;
  }
  .part h2 {
    box-shadow: var(--black) 5px 5px;
    border-color: var(--black);
  }
  .part1 h2 {
    width: 168px;
  }
  .part2 h2 {
    width: 275px;
  }
  .part3 h2 {
    width: 160px;
  }
  .part4 h2 {
    width: 254px;
  }
  .part5 h2 {
    width: 240px;
  }
  .part .topic {
    width: 35%;
    align-items: flex-end;
  }
  .part .mainBody {
    width: 450px;
    padding-left: 1.5rem;
  }
  
  .color-container {
    height: 556px;
  }
  .color-container .web {
    display: block;
  }
  .color-container .phone {
    display: none;
  }

  .colors .head {
    flex-direction: row;
    justify-content: space-between;
    padding: calc(1.25 * var(--font-size));
    align-items: center;
  }
  .colors .head .first {
    order: 2;
  }
  .colors .head .line1 {
    order: 1;
  }
  .colors .head .line2 {
    order: 3;
  }
}



@media screen and (min-width: 900px) {
  :root {
    --font-size: 19px;
    --homepage-font-size: 25px;
    --nav-font-size: 65px;
    --nav-small-text: 15px;
    --subheading-font-size: 26px;
    --background-height: 110px;
    --headline-font-size: 60px;
  }

  .small-text {
    top: -32px;
  }

  .banner .item1 p {
    line-height: calc(8.5 * var(--homepage-font-size));
    font-size: calc(8.5 * var(--homepage-font-size));
    margin-top: -45px;
    -webkit-text-stroke: 4px black;
  }

  .banner .item2 {
    top: 108px;
    right: 0;
  }
  .banner .item3 {
    left: 2%;
    top: 250px;
  }
  .banner .item4 {
    left: 7%;
    top: 390px;
  }

  .headline{
    margin: calc(8 * var(--font-size)) auto;
  }

  .headline p {
    font-size: var(--headline-font-size);
    line-height: var(--headline-font-size);
  }

  .menu-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: var(--margin-left);
    padding-right: var(--margin-right);
  }

  .part .mainBody {
    width: 510px;
    padding-left: 1.5rem;
  }

}


@media screen and (min-width: 992px) {  
  
.clickbutton {
  width: 110px;
  height: 110px;
  top: 470px;
}

.clickbutton p{
  font-size: 23px;
  line-height: calc(1.2 * var(--font-size));
}
}


@media screen and (min-width: 1120px) {
  :root {
    --homepage-font-size: 29px;
  }

  .banner .item2 {
    top: 60px;
    right: 0;
  }
  .banner .item3 {
    left: 3%;
    top: 230px;
  }
  .banner .item4 {
    left: 9%;
    top: 400px;
  }

}


@media screen and (min-width: 1282px) {
  :root {
    --font-size: 20px;
    --homepage-font-size: 33px;
    --nav-font-size: 80px;
    --nav-small-text: 15px;
    --subheading-font-size: 30px;
    --headline-font-size: 70px;
    --background-height: 120px;
    --margin-left: 45px;
    --margin-right: 45px;
  }

  .small-text {
    top: -44px;
  }

  .banner .item2 {
    top: 60px;
    right: 0;
  }
  .banner .item3 {
    left: 3%;
    top: 230px;
  }
  .banner .item4 {
    left: 9%;
    top: 420px;
  }

  .clickbutton {
    width: 130px;
    height: 130px;
    top: 510px;
  }
  
  .clickbutton p{
    font-size: 25px;
    line-height: calc(1.2 * var(--font-size));
  }

  .table-of-contents li {
    padding-left: var(--margin-left);
    padding-right: 15px;
  }

  .headline{
    margin-top: 150px;
    margin-bottom: 180px;
  }

  .part {
    padding-left: var(--margin-left);
    padding-right: var(--margin-right);
  }

  .part .mainBody {
    width: 600px;
    padding-left: 1.5rem;
  }

  .part1 h2 {
    width: 220px;
  }
  .part2 h2 {
    width: 386px;
  }
  .part3 h2 {
    width: 166px;
  }
  .part4 h2 {
    width: 312px;
  }
  .part5 h2 {
    width: 200px;
  }
  .foot .topp {
    width: 90px;
    height: 90px;
    top: -75px;
    right: 10%;
    border-width: 1px;
  }

  .top-btn {
    width: 66px;
    height: 66px;
  }

  .top-btn::before {
    content: "";
    width: 20px;
    height: 20px;
    border: solid var(--black);
    border-width: 3px 3px 0 0;
    transform: translate(-50%, -50%) rotate(-45deg);
    position: absolute;
    left: 50%;
    top: 45%;
  }
  .top-btn::after {
    content: "";
    width: 3px;
    height: 40px;
    background: var(--black);
    position: absolute;
    top: 25%;
    left: 48%;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --font-size: 20px;
    --homepage-font-size: 35px;
    --nav-font-size: 80px;
    --nav-small-text: 15px;
    --subheading-font-size: 30px;
    --headline-font-size: 70px;
    --background-height: 122px;
    --margin-left: 50px;
    --margin-right: 50px;
  }

  .small-text {
    top: -44px;
  }

  .banner .item2 {
    top: 60px;
    right: 1%;
  }
  .banner .item3 {
    left: 6%;
    top: 230px;
  }
  .banner .item4 {
    left: 11%;
    top: 430px;
  }
}